@import "~bootstrap/scss/bootstrap";

.movie-details {
  .movie-details-backdrop-image-wrapper {
    position: relative;
    right: 15px;
    width: calc(100% + 30px);
    max-height: 600px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #222 100%);
    }

    .movie-details-backdrop-image {
      width: 100%;
    }
  }

  .movie-details-text-container {
    position: relative;
    margin-top: 2rem;

    &.backdrop-padding {
      margin-top: 0;
      bottom: 100px;

      @include media-breakpoint-down(sm) {
        bottom: 50px;
      }
    }

    .star-icon {
      position: relative;
      bottom: 2px;
    }
  }
}
